div.tcenter.embedvideo,
div.embedvideo.ev_center  {
	margin-left: auto;
	margin-right: auto;
}

div.embedvideo.ev_center > .embedvideowrap {
	margin-left: auto;
	margin-right: auto;
}

div.embedvideo.ev_center .thumbcaption {
	text-align: center;
}

/* @noflip */
div.embedvideo.ev_left {
	clear: left;
	float: left;
}

/* @noflip */
div.embedvideo.ev_right {
	clear: right;
	float: right;
}

div.embedvideo.ev_inline {
	display: inline-block;
}

div.embedvideo.ev_top {
	vertical-align: top;
}

div.embedvideo.ev_middle {
	vertical-align: middle;
}

div.embedvideo.ev_bottom {
	vertical-align: bottom;
}

div.embedvideo.ev_baseline {
	vertical-align: baseline;
}

video.thumbborder, audio.thumbborder {
	border: 1pt solid #ddd;
}

a.vplink {
	padding-left: 18px;
	background-image: url(../img/play.png);
	background-repeat: no-repeat;
	background-position: left center;
}

a.vplink:hover {
	background-image: url(../img/play-hover.png);
}

.embedvideowrap {
	position: relative;
}


.embedvideowrap .embedvideo-consent__overlay {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	text-align: center;
	overflow: hidden;
}

.embedvideowrap .embedvideo-consent__overlay .embedvideo-consent__message {
	cursor: pointer;
	z-index: 2;
	background-color: rgba(0,0,0,0.55);
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	position: relative;
}

.embedvideowrap .embedvideo-consent__overlay .embedvideo-consent__message-inner {
	border: 1px solid #fff;
	padding: 0.5rem;
	transition: background-color 0.2s ease;
}

.embedvideowrap .embedvideo-consent__overlay:hover .embedvideo-consent__message-inner {
	background-color: #fff;
	color: #333;
}

.embedvideowrap .embedvideo-consent__overlay .embedvideo-consent__thumbnail {
	width: 100%;
	height: 100%;
	top: 0;
	position: absolute;
	left: 0;
	object-fit: cover;
}
