div.tcenter.embedvideo,
div.embedvideo.ev_center  {
	text-align: center;
}

div.embedvideo.ev_center > .embedvideowrap {
	margin-left: auto;
	margin-right: auto;
}

div.embedvideo.ev_left {
	clear: left;
	float: left;
}

div.embedvideo.ev_right {
	clear: right;
	float: right;
}

div.embedvideo.ev_inline {
	display: inline-block;
}

video.thumbborder, audio.thumbborder {
	border: 1pt solid #ddd;
}