.embedvideo {
	&-consent {
		.hidden {
			opacity: 0;
			pointer-events: none;
			visibility: hidden;
		}
	}

	&-overlay {
		position: relative;
		display: flex;
		width: 100%;
		height: 100%;
		align-items: center;
		justify-content: center;
		color: #54595d;
		font-size: 0.875rem;
		user-select: none;

		> div {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			transition: opacity 250ms ease;
		}
	}

	&-loader {
		display: grid;
		cursor: pointer;

		&__title {
			overflow: hidden;
			padding: 0.75rem;
			text-align: start;
			text-overflow: ellipsis;
			white-space: nowrap;

			a {
				color: #eaecf0;

				&:hover {
					color: #fff;
				}
			}
		}

		&__fakeButton {
			padding: 0.5rem 1rem;
			border-radius: 1000px;
			background-color: rgba( 0, 0, 0, 60% );
			color: #fff;
			cursor: pointer;
			place-self: center;
			transition: background-color 250ms ease;
		}

		&__footer {
			display: flex;
			align-self: end;
			justify-content: space-between;
			padding: 0.5rem;
			font-size: 0.8125rem;

			> div {
				padding: 0.25rem 0.5rem;
				border-radius: 0.25rem;
				background-color: rgba( 0, 0, 0, 60% );
				color: #eaecf0;
			}
		}

		&__title,
		&__footer {
			right: 0;
			left: 0;
			font-weight: bold;
			transition: opacity 250ms ease;
		}

		&__title,
		&__fakeButton,
		&__footer {
			position: absolute;
		}

		&:hover {
			.embedvideo-loader {
				&__fakeButton {
					background-color: #36c;
				}
			}
		}
	}

	&-thumbnail {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		&__image {
			width: inherit;
			height: inherit;
			object-fit: cover;
		}

		// When thumbnail presents, change overlay styles
		+ .embedvideo-overlay {
			.embedvideo-loader {
				color: #eaecf0;

				&__title {
					background: linear-gradient( to bottom, #000, 40%, transparent );
				}
			}
		}
	}

	&-privacyNotice {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 1rem;
		background-color: rgba( 0, 0, 0, 0.6 );
		color: #eaecf0;
		gap: 0.5rem;
		text-align: center;

		&__link {
			color: #eaf3ff;
			text-decoration: underline;
		}

		&__buttons {
			> button {
				padding: 0.5rem 1rem;
				border: 0;
				border-radius: 1000px;
				appearance: none;
				color: #fff;
				cursor: pointer;
				font-size: inherit;
			}
		}

		&__continue {
			background-color: #36c;

			&:hover {
				background-color: #447ff5;
			}

			&:active {
				background-color: #2a4b8d;
			}
		}

		&__dismiss {
			background-color: transparent;

			&:hover {
				color: #d33;
			}

			&:active {
				color: #b32424;
			}
		}
	}
}

[ data-service='local-embed' ] .embedvideo-consent {
	background-color: transparent;
}

.center .floatnone > .embedvideo {
	margin: 0 auto;
}
