<div class="embedvideo-consent" data-show-privacy-notice="{{showPrivacyNotice}}">{{{thumbnailHtml}}}
	<div class="embedvideo-overlay">
		<div class="embedvideo-loader" role="button">{{{titleHtml}}}
			<div class="embedvideo-loader__fakeButton">{{fakeButtonText}}</div>
			<div class="embedvideo-loader__footer">
				<div class="embedvideo-loader__service">{{serviceText}}</div>
			</div>
		</div>
		<div class="embedvideo-privacyNotice hidden">
			<div class="embedvideo-privacyNotice__content">{{privacyNoticeText}} {{{privacyPolicyLink}}}</div>
			<div class="embedvideo-privacyNotice__buttons">
				<button class="embedvideo-privacyNotice__continue">{{continueText}}</button>
				<button class="embedvideo-privacyNotice__dismiss">{{dismissText}}</button>
			</div>
		</div>
	</div>
</div>
