<figure class="{{class}}" data-service="{{service}}" {{#iframeConfig}}data-mw-iframeconfig="{{iframeConfig}}"{{/iframeConfig}} style="{{containerStyles}}">
	<div class="embedvideo-wrapper" style="{{wrapperStyles}}">
		{{{wrapperContentsHtml}}}
	</div>{{#captionHtml}}<figcaption>{{{captionHtml}}}</figcaption>{{/captionHtml}}
</figure>
